footer {
    background-image: url("../assets/images/Background_Contacts.png");
    background-size: cover;
    background-position: center center;
    padding: 128px 120px 200px 120px;
    gap: 48px;
    display: grid;
    justify-content: center;
}

footer section {
    display: grid;
    text-align: center;
    gap: 8px;

    p:first-child {
        font: var(--subtitle);
        color: var(--main-color-purple);
    }
    h2 {
        color: var(--base-color-gray-100);
    }
    p:last-child {
        font: var(--text-md);
        color: var(--base-color-gray-200);
    }
}

footer ul {
    display: grid;
    margin: auto;
    gap: 16px;
    width: 400px;
    
    li {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 68px;
        padding: 20px;
        border-radius: 8px;
        gap: 12px;

        background-color: var(--base-color-gray-400);

        a:first-child {
            display: inline-block;
            width: 28px;
            height: 28px;
        }

        span {
            flex-grow: 1;
            font: var(--text-md);
            font-weight: 500;
            color: var(--base-color-gray-200);
            
            
        }

        a:last-child {
            width: 20px;
            height: 20px;
            background-image: url(../assets/icons/ArrowUpRight.svg);
        }

    }

    li:hover {
        border: 2px solid var(--main-color-blue);
    }

}