* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color-red: #e3646e;
    --main-color-purple: #bb72e9;
    --main-color-blue: #3996db;
    --main-color-green: #82bc4f;
    --main-color-yellow: #eabd5f;

    --base-color-gray-100: #e2e4e9;
    --base-color-gray-200: #c0c4ce;
    --base-color-gray-300: #878ea1;
    --base-color-gray-400: #292C34;
    --base-color-gray-500: #16181D;
    --base-color-gray-600: #0D0E11;

    --font-family-title: 'Asap', 'sans-serif';
    --font-family-subtitle: 'Inconsolata', 'sans-serif';
    --font-family-text: 'Maven pro', 'sans-serif';


    --title-lg: bold 56px/120% var(--font-family-title);
    --title-md: bold 24px/120% var(--font-family-title);
    --title-sm: bold 16px/120% var(--font-family-title);

    --subtitle: 400 20px/120% var(--font-family-subtitle);

    --text-md: 400 16px/140% var(--font-family-text);
    --text-sm: 400 14px/140% var(--font-family-text)
    

    
    


}


body {
    color: var(--base-color-gray-100);
    background-color: var(--base-color-gray-500);
    font: var(--text-md);
}

a, p, span {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
    color: inherit;
}

h2 {
    font: var(--title-md);
}

h3 {
    font: var(--title-sm);
}


.github {
    background-image: url(/assets/icons/GitHub.svg);
}

.html {
    background-image: url(/assets/icons/HTML.svg);   
}

.css{
    background-image: url(/assets/icons/CSS.svg); 
}

.nodejs{
    background-image: url(/assets/icons/Node.js.svg);
}

.website {
    background-image: url(../assets/icons/Devices.svg);
}

.api-banco {
    background-image: url(../assets/icons/HardDrives.svg);
}

.devops {
    background-image: url(../assets/icons/Infinity.svg);
}

.linkedin {
    background-image: url(../assets/icons/LinkedinLogo.svg);
}

.instagram {
    background-image: url(../assets/icons/InstagramLogo.svg);
}

.email {
    background-image: url(../assets/icons/EnvelopeSimple.svg);
}

.github-logo {
    background-image: url(../assets/icons/GithubLogo.svg);
}