main {
    max-width: 1366px;
    margin: auto;
}

.sub-header {
    display: grid;
    text-align: center;
    
    gap: 8px;

    p:first-child {
        color: var(--main-color-red);
        font: var(--subtitle);
    }

    h2:last-child{
        font: var(--title-md);
    }
}

#projects {
    display: grid;
    grid-template-rows: 61px 1fr;
    padding: 72px 120px 144px 120px;
    gap: 56px;

    

    #highlights {
        display: grid;
        max-width: 1040px;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 24px;

        li{ 
            width: 330px;
            height: 280px;
            padding: 12px;
            list-style: none;
            background-color: var(--base-color-gray-400);
            border-radius: 12px;
            text-align: left;

            img {
                width: 100%;
                border-radius: 8px;
                margin-bottom: 8px;
            }

            div {
                display: grid;
                padding: 4px;
                gap: 8px;
            }

            h3 {
                font: var(--title-sm);
                color: var(--base-color-gray-100);
            }

            p {
                font: var(--text-sm);
                color: var(--base-color-gray-200);
            }
        }

        li:hover {
            border: 2px solid var(--base-color-gray-300);
        }
    }
}

#services {
    display: grid;
    justify-content: center;
    padding-block: 88px 120px;
    padding-inline: 120px;
    background-color: var(--base-color-gray-600);
    gap: 56px;

    ul {
        display: grid;
        max-width: 888px;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 24px;

        li{
            display: grid;
            width: 280px;
            height: 155px;
            padding: 20px;
            gap: 20px;
            list-style: none;
            border-radius: 12px;
            border: solid 2px  var(--base-color-gray-500);
            text-align: left;

            a {
                display: inline-block; /*para poder aceitar altura e largura*/
                width: 48px;
                height: 48px;
                background-size: contain;
                background-repeat: no-repeat;
            }

            div {
                padding: 4px;
                width: 240px;
            }
            
            h3 {
                font: var(--title-sm);
                color: var(--base-color-gray-100);
            }

            p {
                font: var(--text-sm);
                color: var(--base-color-gray-200);
            }
        }
    }
}